.sec_sp {
  margin-bottom: calc(3rem + 5.128vw);
}

.table td,
.table th {
  color: var(--text-color);
}

.t_border {
  border-color: var(--text-color) !important;
}

.skill-block {
  margin-bottom: 3rem; /* Aumentar o espaçamento entre os blocos */
  padding: 1rem; /* Adicionar padding para o conteúdo dentro do bloco */
  border: 1px solid var(--text-color); /* Adicionar borda */
  border-radius: 10px; /* Bordas arredondadas */
  background-color: var(--secondary); /* Cor de fundo para destacar o bloco */
}

.main-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.sub-skills {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 1.5rem; /* Espaçamento maior entre as linhas de sub-habilidades */
}

.sub-skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22%; /* Ajustar para quatro itens por linha */
  margin-bottom: 1rem;
}

.skill-icon {
  color: var(--text-color);
  width: 50px; /* Tamanho máximo da imagem do ícone */
  height: 50px; /* Tamanho máximo da imagem do ícone */
}

.skill-name {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  font-family: "Raleway";
}

.empty-skill {
  visibility: hidden;
}

.section-title {
  font-size: 45px;
}

.service__title {
  padding: 8px 0;
  border-bottom: solid 2px var(--secondary-color);
}

.service-section .service-category-title {
  padding-bottom: 4px;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
