/* Add this to your style.css */

.popover-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  width: 200%;
}

.skill-block {
  margin-bottom: 3rem; /* Increase spacing between blocks */
  padding: 1rem; /* Add padding for content inside the block */
  border: 1px solid var(--text-color); /* Add border */
  border-radius: 10px; /* Rounded corners */
  background-color: var(
    --secondary
  ); /* Background color to highlight the block */
}

.main-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.sub-skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22%; /* Adjust for four items per row */
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.skill-icon {
  color: var(--text-color);
  width: 50px; /* Max size of icon image */
  height: 50px; /* Max size of icon image */
}

.skill-name {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  font-family: "Raleway";
}

.empty-skill {
  visibility: hidden;
}

.section-title {
  font-size: 45px;
}

.service__title {
  padding: 8px 0;
  border-bottom: solid 2px var(--secondary-color);
}

.service-section .service-category-title {
  padding-bottom: 4px;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
