/* Estilos principais do portfólio */
.po_items_ho {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 4rem;
}

.po_item {
  position: relative;
  background: var(--secondary-color);
  padding: 6px;
  border: 1px solid var(--secondary-color);
  transition: 0.3s ease;
  font-size: 0;
  min-height: 300px;
  overflow: hidden; /* Ensure content does not overflow */
}

.po_item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.po_item .content {
  position: absolute;
  height: 0;
  width: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--overlay-color);
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: 0.3s ease-in-out;
  opacity: 0;
  border: 1px solid black;
}

.po_item .content {
  opacity: 0;
  transition-delay: 1s;
  transition: 0.3s ease;
  font-size: 20px;
}

.po_item:hover {
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
}

.po_item:hover .content {
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  opacity: 1;
}

.po_item:hover .content {
  opacity: 1;
  color: var(--secondary-color);
}

.po_item .content a {
  background: var(--bg-color);
  border: solid 1px var(--text-color);
  padding: 4px 8px;
  text-align: center;
  font-size: 1rem;
}

.po_item .content a:hover {
  text-decoration: none;
}

/* Estilos do modal */
.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.modal-content {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.modal-header,
.modal-footer {
  border-color: var(--secondary-color);
}

.modal-title {
  color: var(--text-color);
}

.modal-body {
  color: var(--text-color);
  white-space: pre-wrap; /* Adiciona quebra automática de linha para texto longo */
  word-wrap: break-word; /* Permite que palavras longas sejam quebradas */
}

/* Estilos da lista de stacks */
.stack-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
}

.stack-list li {
  flex: 0 0 30%; /* 30% para criar três colunas com espaçamento */
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

/* Estilo da imagem fluida */
.img-fluid {
  max-width: 100%;
  height: auto;
}
